@import 'theme';

::-webkit-scrollbar {
    width: 2px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    height: 20px;
    width: 2px;
    border-radius: 1px;
    background-color: #808080;
}
.touchable {
    cursor: pointer;
}
.mat-sidenav-content {
    flex-grow: 1;
}
.md-input-error-message {
    font-size: 12px;
    color: mat-color($system-accent);
    height: 12px;
}
.mat-input-wrapper {
    margin-bottom: 2px !important;
}
.warning-title {
    font-size: 30px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 50px 0 50px 0;
}