<md-sidenav-container class="application-view">
    <md-sidenav #sidenav>
        <div class="left-navigator">
            <p class="text-center">COMMAND CARDS</p>
            <design-panel title="What you should do" icon="warning" *ngIf="userInformation==null">
                <p>You must sign in before use this system.</p>
                <p>If you have no account, please contact the system manager to create one.</p>
            </design-panel>
            <design-panel title="Account" icon="account_box" *ngIf="userInformation!=null">
                <p>ID：{{userInformation.name}}</p>
                <p>Group: {{userInformation.userGroup}}</p>
                <design-panel-action [initialize]="initAction" title="Overview"></design-panel-action>
                <design-panel-action [initialize]="initAction" title="Profile"></design-panel-action>
                <design-panel-action [initialize]="initAction" title="Sign out"></design-panel-action>
            </design-panel>
        </div>
    </md-sidenav>
    <div class="application-content">
        <md-toolbar>
            <md-icon class="touchable action-icon" (click)="sidenav.toggle()">menu</md-icon>
            {{pageTitle}}
            <span style="flex: 1 1 auto"></span>
            <button md-button (click)="toggleNotice()">
                <md-icon>notifications</md-icon><span class="notice-count">{{noticeCount}}</span>
            </button>
        </md-toolbar>
        <div class="content-placeholder">
            <design-notice-area></design-notice-area>
            <div class="notice" [hidden]="!showNotice">
                <design-notice-history></design-notice-history>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</md-sidenav-container>