@import '../theme';

.application-view {
    display: flex;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}
.left-navigator {
    width: 275px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    & > design-panel {
        margin: 5px 10px 5px 10px;
    }
    & > p {
        font-size: 20px;
        padding: 10px 0 10px 0;
    }
}
.application-content {
    display: flex;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    .notice-count {
        display: inline-block;
        min-width: 10px;
        padding: 2px 5px;
        font-size: 12px;
        font-weight: 700;
        line-height: 1;
        color: $system-body-bg;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        background-color: $system-text-color;
        border: 1px solid $system-body-bg;
        border-radius: 10px;
        margin-top: -17px;
        margin-left: -12px;
    }
    .content-placeholder {
        flex-grow: 1;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        & > router-outlet + /deep/ * {
            flex-grow: 1;
            display: flex;
            flex-direction: column;
        }
    }
    .notice {
        position: fixed;
        width: 350px;
        padding: 15px;
        background-color: #424242;
        right: 0;
        border-left: 3px solid #222222;
        border-bottom: 3px solid #222222;
        z-index: 1001;
    }
    & .content-placeholder > design-notice-area {
        position: fixed;
        width: 350px;
        right: 0;
        z-index: 1000;
    }
}