<md-card>
    <md-card-title>
        <div id="cont-lock"><i class="material-icons lock">lock</i></div>
        <div id="bottom-head">
            <h1 id="logintoregister">Login</h1>
        </div>
    </md-card-title>
    <md-card-content>
        <md-input-container>
            <input md-input placeholder="Username">
        </md-input-container>
        <md-input-container>
            <input md-input type="password" placeholder="Password">
        </md-input-container>
        <button md-raised-button (click)="signIn()">Sign In</button>
    </md-card-content>
    <md-card-footer>
        <p class="footer-text">Saint Mary's University</p>
    </md-card-footer>
</md-card>