<div [hidden]="notices.length > 0" style="text-align: center; padding-top: 7px">STILL NO NOTICES</div>
<ul class="design-notice design-notice-history">
    <li *ngFor="let n of notices">
        <div>
            <p>
                <md-icon>{{n.icon}}</md-icon>
                <span>{{n.title}} <span class="text-primary">{{n.time | date: 'HH:mm:ss'}}</span></span>
            </p>
            <p>{{n.content}}</p>
        </div>
        <md-icon md-list-avatar (click)="remove(n)">close</md-icon>
    </li>
</ul>